h1{
  font-family: 'Indie Flower', cursive;
  color: #F5B7B1;
  margin-top: 30px;
  border-style: dotted: 20px;
  border-color: #F2F4F4;
}
body{
  background-color: #909497;
}

#first{
  height: 200px;
  padding: 5px;
}
#second{
  height: 200px;
  padding: 5px;
}
#third{
  height: 200px;
  padding: 5px;
}
#fourth{
  height: 200px;
  padding: 5px;
}
#fifth{
  height: 200px;
  padding: 5px;
}
#sixth{
  height: 200px;
  padding: 5px;
}
#seventh{
  height: 200px;
  padding: 5px;
}
#eighth{
  height: 200px;
  padding: 5px;
}
#ninth{
  height: 200px;
  padding: 5px;
}
#tenth{
  height: 200px;
  padding: 5px;
}
.light{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  margin-left: 300px;
  float: left;
  object-fit: cover;
  box-sizing: border-box;
  margin-top: 70px;
}
.wallpaper{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  margin-left: 30px;
  float: left;
  object-fit: cover;
  box-sizing: border-box;
  margin-top: 70px;
  /* display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 100px;
  object-fit: cover; */
}
.test{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  margin-left: 20px;
  float: left;
  object-fit: cover;
  box-sizing: border-box;
  margin-top: 70px;
  /* display: flex;
  float: right;
  flex-direction: column;
  width: 200px;
  margin-left: 600px;
  object-fit: cover; */
}

#w1{
  height: 200px;
  padding: 5px;
}
#w2{
  height: 200px;
  padding: 5px;
}
#w3{
  height: 200px;
  padding: 5px;
}
#w4{
  height: 200px;
  padding: 5px;
}
#w5{
  height: 200px;
  padding: 5px;
}
#w6{
  height: 200px;
  padding: 5px;
}
#w7{
  height: 200px;
  padding: 5px;
}
#w8{
  height: 200px;
  padding: 5px;
}
#w9{
  height: 200px;
  padding: 5px;
}
#w10{
  height: 200px;
  padding: 5px;
}


#b1{
  height: 200px;
  padding: 5px;
}
#b2{
  height: 200px;
  padding: 5px;
}
#b3{
  height: 200px;
  padding: 5px;
}
#b4{
  height: 200px;
  padding: 5px;
}
#b5{
  height: 200px;
  padding: 5px;
}
#b6{
  height: 200px;
  padding: 5px;
}
#b7{
  height: 200px;
  padding: 5px;
}
#b8{
  height: 200px;
  padding: 5px;
}
#b9{
  height: 200px;
  padding: 5px;
}
#b10{
  height: 200px;
  padding: 5px;
}
.logo{
  position: absolute;
  right: 100px;
  top:10px;
}
#logo{
  object-fit:contain;
  width: 250px;
}
